*.iml
.gradle/
/local.properties
.idea/
.DS_Store
build/
/captures
.externalNativeBuild/
.cxx/
app/build/
__pycache__/
*.pyc

.venv/
runs/

# YOLO / ML training outputs
runs/
*.pt

# Python
__pycache__/
*.pyc
.venv/
venv/

# Android
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
test_images/*.zip
